<!DOCTYPE html>
<html>
<head>
  <title>blogsapp</title>
  <style type="text/css" href="./style.css"></style>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
<!-- カードのフォーマットはeachで表示させる -->
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">本文を読む</i></span>
     <!--  <p><a href="#">本文を読む</a></p> -->
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
  <a class="waves-effect waves-light btn-small">詳細</a>
  <!-- <% IF current_user.id＝＝tweet.user_id %> IFを小文字に ＝＝を半角に-->
  <a class="waves-effect waves-light btn-small">編集</a>
  <a class="waves-effect waves-light btn-small">削除</a>
  <% end %>
<script type="text/javascript" src="./app.js"></script>
</body>
</html>