<!DOCTYPE html>
<html>
<head>
  <title>blogsapp</title>
  <style type="text/css" href="./style.css"></style>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" class="validate">
          <label for="disabled">blogのタイトル</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="text" type="text" class="validate">
          <label for="text">blogの本文</label>
          <!-- password => text -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="image" type="text" class="validate">
          <label for="image">image</label>
          <!-- email => imageに変更した -->
        </div>
      </div>
   
    <button class="btn waves-effect waves-light" type="submit" name="action">投稿する</button>
  </form>
</div>
</html>