<!DOCTYPE html>
<html>
  <head>
    <title>blogsapp</title>
    <style type="text/css" href="./style.css"></style>

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>

  <body>
		<div class="contents row">
		  <p><%= @nickname %>さんの投稿一覧</p>
		  <% @blogs.each do |blog| %>
		    <%= render partial: "blogs/blog", locals: { blog: blog } %>
		  <% end %>
		</div>
	</body>

</html>