<!DOCTYPE html>
<html>
<head>
  <title>blogsapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">blogsapp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a href="badges.html">ログアウト</a></li>
        <li><a href="/blogs/new">blogを書く</a></li>
      </ul>
    </div>
  </nav>
<%= yield %>
        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            </div>
          </div>
        </footer>

</body>
</html>
